@font-face {
  font-family: "iconfont"; /* Project id 2541356 */
  src: url('iconfont.woff2?t=1630631189014') format('woff2'),
       url('iconfont.woff?t=1630631189014') format('woff'),
       url('iconfont.ttf?t=1630631189014') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanzhuan:before {
  content: "\e60a";
}

.icon-wancheng:before {
  content: "\e615";
}

.icon-tuozhuai:before {
  content: "\e636";
}

.icon-caijian_huaban1:before {
  content: "\e681";
}

.icon-bianji:before {
  content: "\e60d";
}

.icon-fengxianyujing:before {
  content: "\e609";
}

.icon-fangdajing:before {
  content: "\e618";
}

.icon-aaa:before {
  content: "\e640";
}

.icon-icon-star:before {
  content: "\e60c";
}

.icon-shanchu:before {
  content: "\e60f";
}

.icon-dianhua:before {
  content: "\e603";
}

.icon-caozuojiemiantubiao---_quxian:before {
  content: "\e669";
}

.icon-shanchu1:before {
  content: "\e7e2";
}

.icon-yunduan:before {
  content: "\e88a";
}

.icon-duobianxing:before {
  content: "\e61b";
}

.icon-jibenzhexiantu:before {
  content: "\e627";
}

.icon-hengxiangzhexiantu:before {
  content: "\e628";
}

.icon-btn_drawrec:before {
  content: "\e611";
}

.icon-lishiguiji:before {
  content: "\e619";
}

.icon-qizhi:before {
  content: "\e608";
}

.icon-yueya:before {
  content: "\e657";
}

.icon-ditudingweidian-weixuanzhong:before {
  content: "\e613";
}

.icon-radio-on:before {
  content: "\ea6a";
}

.icon-xingzhuang:before {
  content: "\e688";
}

.icon-lishiguiji1:before {
  content: "\e621";
}

.icon-daozhijiao:before {
  content: "\ede0";
}

.icon-xia2:before {
  content: "\e600";
}

.icon-xia21:before {
  content: "\e602";
}

.icon-guanbi:before {
  content: "\e61a";
}

.icon-xia1:before {
  content: "\e601";
}

.icon-chakan1:before {
  content: "\e606";
}

.icon-delete:before {
  content: "\e7fe";
}

.icon-yunyingfuwu:before {
  content: "\e610";
}

.icon-guanli:before {
  content: "\e612";
}

.icon-ziyuan111:before {
  content: "\e607";
}

.icon-chuli1:before {
  content: "\e65e";
}

.icon-gongsi:before {
  content: "\e68c";
}

.icon-shipin:before {
  content: "\e87c";
}

.icon-alert-fill:before {
  content: "\eb26";
}

.icon-circular:before {
  content: "\e651";
}

.icon-triangle-x:before {
  content: "\e652";
}

.icon-dianbiao1:before {
  content: "\e69e";
}

.icon-gongchang-2:before {
  content: "\e7aa";
}

.icon-shangsheng:before {
  content: "\e750";
}

.icon-xiajiang:before {
  content: "\e755";
}

.icon-shengyin:before {
  content: "\e62b";
}

.icon-duigou:before {
  content: "\e63b";
}

.icon-loading-v:before {
  content: "\e62c";
}

.icon-tubiao_qidian_lanse:before {
  content: "\e7f5";
}

.icon-xia:before {
  content: "\e60b";
}

.icon-app_icons--:before {
  content: "\e617";
}

.icon-zhishu:before {
  content: "\e61c";
}

.icon-shui:before {
  content: "\e701";
}

.icon-rank:before {
  content: "\e99d";
}

.icon-jiankong:before {
  content: "\e620";
}

.icon-dianbiao:before {
  content: "\ec4d";
}

.icon-zhinengdianbiao:before {
  content: "\e6b9";
}

